html {
  font-size: 8px;
}

body {
  font-family: 'Lora', serif;
  font-size: 24px;
  background-color: #FFF5EE;
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 104px);
  grid-template-rows: 104px 374px 104px 192px 104px 676px 104px 676px 630px 104px 676px 630px 400px;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  position: relative;
  width: 1600px;
  padding: 0;
  margin: 0 0 0 -800px;
  left: 50%;
}

.icon {
  border-radius: 16px;
  height: 104px;
  margin-bottom: 16px;
}

.icon--left-side-icon {
  grid-column-start: 2;
}

.icon--nav-icon {
  grid-column-end: span 1;
  grid-row-start: 3;
  width: 104px;
}

.hire-me {
  grid-column-start: 9;
  grid-column-end: 12;
  border-radius: 0 0 16px 16px;
  background-color: yellow;
  color: black;
  padding: 24px;
}

.index-title {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 2;
  align-self: center;
}

.icon--home {
  background-color: red;
  border-radius: 0 0 16px 16px;
}

.icon--about {
  background-color: orange;
}

.icon--papier {
  background-color: yellow;
}

.icon--qip {
  background-color: pink;
}

.icon--paintings {
  background-color: purple;
}

.nav-icon__text {
  grid-column-end: span 2;
  padding-top: 16px;
}

.nav--about {
  grid-column-start: 3;
}

.nav--papier {
  grid-column-start: 5;
}

.nav--qip {
  grid-column-start: 7;
}

.nav--paintings {
  grid-column-start: 9;
}

.about {
  grid-row-start: 5;
}

.papier {
  grid-row-start: 7;
}

.section__text {
  grid-column-start: 3;
  grid-column-end: span 5;
}

.section__image {
  grid-column-start: 9;
  grid-column-end: span 4;
}

.section__image-bg--about {
  border-radius: 16px;
  height: 380px;
  width: 100%;
  background-color: orange;
  margin-top: 160px;
}

.section__image-bg--papier {
  border-radius: 16px;
  height: 380px;
  width: 100%;
  background-color: yellow;
  margin-top: 160px;
}

.cards-container {
  grid-row-start: 9;
  grid-column-start: 3;
  grid-column-end: span 8;
  background-color: gray;
}

h1, .subtitle {
  font-size: 40px;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
}

h2, .nav-text {
  font-size: 32px;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  color: black;
}

p {
  color: #6A6A6A;
  margin: 0;
  margin-bottom: 8px;
}

.bio {
  color: black;
  margin-top: 24px;
  line-height: 1.5;
}

.label-text {
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 8px;
}


a {
  color: #F87E7E;
  text-decoration: none;
  background-image: linear-gradient(#FFF5EE, #FFF5EE),
  linear-gradient(#FFD4D4, #FFD4D4),
  linear-gradient(#FFB7B7, #FFB7B7);
  background-size: 10px 4px, 100% 4px, 0 4px;
  background-position: calc(10px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms ease-in-out, background-position 300ms ease-in-out;
}

a:hover {
  background-size: 10px 4px, 0 4px, 100% 4px;
  background-position: calc(100% + 10px) 100%, 100% 100%, 0 100%;
}

}

a:link:active, a:visited:active {
  color: #E46363;
}



@media screen and (max-width: 600px) {

}

@media screen and (max-width: 1360px) {
.container {
  width: 100%;
    grid-template-columns: 0px 104px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0px;
    left: auto;
    margin: 0;
}
}

@media screen and (max-width: 1000px) {

html {
  font-size: 8px;
}

body {
  overflow-x: auto;
}

.container {
  width: 100%;
    grid-template-columns: repeat(6, 16.6666%);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    left: auto;
    margin: 0 24px 0 24px;
}

.container > div {
  grid-column-start: 1;
  grid-row: auto;
}

.icon--home, .hire-me {
  display: none;
}

.icon--nav-icon, .nav-icon__text {
  display: none;
}

.icon--left-side-icon {
  grid-column-end: span 2;
  height: calc((100vw - 64px) /3 + 37px);
}

.index-title {
  grid-column-end: span 6;
  grid-row-start: 2;
  align-self: center;
}

.section__text {
  grid-column-start: 1;
  grid-column-end: span 6;
}

.section__image {
  grid-column-start: 1;
  grid-column-end: span 6;
}

}
