html {
  font-size: 8px;
}

body {
  font-family: 'Lora', serif;
  background-color: #FFF5EE;
  margin: 0;
}

.container {
  position: relative;
  max-width: 900px;
  padding: 0 3rem;
  margin: 20rem auto;
}

.container_item {
  width: 100%;
  margin: 0;
  margin-top: 3rem;
  color: #294C6D;
}

.container_title {
  margin-bottom: 8rem;
  font-size: 7rem;
  font-weight: 700;
  font-style: italic;
}

.container_subtitle {
  font-size: 4rem;
  font-weight: 500;
  font-style: italic;
  margin-top: 5rem;
}

.container_text {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
}

.container_text--link {
  text-decoration: none;
  color: #F87E7E;
  background-image: linear-gradient(#FFF5EE, #FFF5EE),
  linear-gradient(#FFD4D4, #FFD4D4),
  linear-gradient(#FFB7B7, #FFB7B7);
  background-size: 10px 4px, 100% 4px, 0 4px;
  background-position: calc(10px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms ease-in-out, background-position 300ms ease-in-out;
}

.container_text--link:hover {
  background-size: 10px 4px, 0 4px, 100% 4px;
  background-position: calc(100% + 10px) 100%, 100% 100%, 0 100%;
}


.container_text--link:link:active, .container_text--link:visited {
  color: #E46363;
}

.container_text::selection, .container_text--link::selection {
  background-color: #FFE6A6;
}

.container_subtitle::selection, .container_title::selection {
  background-color: #82B5E3;
}

.container_image{
  align-self: flex-start;
  width: 300px;
  height: 64px;
  background: url(/images/signature1.png);
  background-size: cover;
}

@media (max-width: 600px) {
  html {
    font-size: 6px;
  }
}
