html {
  font-size: 8px;
}

body {
  font-family: 'Lora', serif;
  margin: 0;
}
a, a:visited{
  text-decoration: none;
  color: inherit;
}

.page--white{
  background-color: #F8FAFF;
  color: #294C6D;
}

.page--sand{
  background-color: #FFF5EE;
  color: #294C6D;
}

.page--pink {
  background-color: #FFF8F7;
  color: #bb7073;
}

.page--cream {
  background-color: #FAF8F4;
  color: #585e51;
}

.page--blue{
  background-color: #F5F7FB;
  color: #294C6D;
}

.header {
  padding: 3rem;
}

.top-nav__my-name {
  text-decoration: none;
  font-size: 3rem;
}

.top-nav__my-name:visited {
  color: currentColor;
}

.container {
  position: relative;
  max-width: 900px;
  padding: 0 3rem;
  margin: 3rem auto;
}

.container--no-hero-image {
  margin: 20rem auto;
}

.container__item {
  width: 100%;
  margin: 0;
  margin-top: 3rem;
}

.container__item--columns {
  display: flex;
}

.container__title {
  margin-bottom: 8rem;
  font-size: 7rem;
}

.container__title--bold-italic {
  font-weight: 700;
  font-style: italic;
}

.container__title--regular {
  font-weight: 400;
}

.container__subtitle {
  font-size: 4rem;
}

.container__subtitle--bold-italic {
  font-weight: 700;
  font-style: italic;
  margin-top: 5rem;
}

.container__subtitle--bold {
  font-weight: 700;
  margin-top: 6rem;
}

.container__text, li {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
}

.container__caption--regular {
  font-size: 1.8rem;
  opacity: 0.4;
  margin-top: -1rem;
  margin-bottom: 4rem;
}

.container__caption--italic {
  font-style: italic;
}

.container__text--bio {
  margin-bottom: 12rem;
  margin-top: -4rem;
}

.container__subtitle--small-bold {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: -2rem;
}

.container__text--link {
  text-decoration: none;
  color: #F87E7E;
  background-image: linear-gradient(#FFF5EE, #FFF5EE),
  linear-gradient(#FFD4D4, #FFD4D4),
  linear-gradient(#FFB7B7, #FFB7B7);
  background-size: 10px 4px, 100% 4px, 0 4px;
  background-position: calc(10px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms ease-in-out, background-position 300ms ease-in-out;
}

.container__text--link:hover {
  background-size: 10px 4px, 0 4px, 100% 4px;
  background-position: calc(100% + 10px) 100%, 100% 100%, 0 100%;
}


.container_text--link:link:active, .container__text--link:visited {
  color: #E46363;
}

.container__text::selection, .container__text--link::selection {
  background-color: #FFE6A6;
}

.container__subtitle::selection, .container__title::selection {
  background-color: #82B5E3;
}

.container__image {
  border-radius: 2rem;
}

.container__image--inline {
  margin: 3rem 0;
}

.container__image--column {
  margin: 0;
  margin-bottom: 2rem;
}

.container__image--signature{
  align-self: flex-start;
  width: 300px;
  height: 64px;
  background: url(/images/signature1.png);
  background-size: cover;
}

.column--first {
  margin-right: 4rem;
}

.column--flex-1 {
  flex: 1;
}

.column--flex-2 {
  flex: 2;
}

.column__text--project-title{
  font-weight: 700;
  margin-top: 0;
  text-decoration: none;
}

.column__text--project-date{
  opacity: 0.3;
  margin-top: 1rem;
  font-size: 2.5rem;
}

.column__text--project-text{
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.container__text--quote {

}

.next-page {
  padding: 10rem;
  text-align: right;
  font-size: 3rem;
  color: #313337;
  margin: 16rem auto;
  border-radius: 1rem;
  display: block;
  text-decoration: none;
}

.next-page:hover {

}

.bottom-nav {
  width: 100%;
  display: flex;
  background-color: currentColor;
  margin-top: 10rem;
}

.bottom-nav__button {
  padding: 10rem;
  color: white !important;
  transition: background-color 300ms ease;
}

.bottom-nav__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.bottom-nav__button--left{

}

.bottom-nav__button--right {
  text-align: right;
}

.top-nav__menu-button {
  float: right;
  padding-right: 3rem;
  margin-left: 1rem;
  font-size: 3rem;
  color: currentColor;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#top-nav__menu-arrow--open {
  transform-origin: center;
  transform: rotate(180deg);
  fill: currentColor;
  margin-right: 1rem;
}

.top-nav__menu-arrow {
  margin-right: 0.5rem;
}

.top-nav__menu-button:hover {
  margin-right: 1rem;
}

#top-nav__menu-arrow--close {
  fill: white;
  margin-left: 1rem;
}

.top-nav__menu-button--close {
  position: fixed;
  top: 3rem;
  right: 3rem;
  color: white;
}

.menu {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: inset(0% 0% 0% 0%);
  transition: all 0.5s ease-in-out;
}

.menu__list {
  padding: 0;
  width: 700px;
}

.menu__item {
  list-style: none;
  font-size: 5.5rem;
  padding: 1.8rem 3rem;
  color: #ffffff80;
}

.menu__item--activePage {
  opacity: 0.3;
  }

.menu__item:hover {
  font-style: italic;
  color: white !important;
}

.menu--hidden {
  clip-path: inset(0% 0% 0% 100%);
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
  .container__item--columns {
    display: block;
  }
  .column--first{
    margin-right: 0;
  }
  .bottom-nav__button--left{
    display: none;
  }
  .top-nav__menu-button:hover {
    margin-right: 0;
  }
}

/* This is crap - will revisit

@media (prefers-color-scheme: dark) {

  .page--white {
    background-color: #676a77;
    color: #e8ecfb;
  }

  .page--white .container__title, .page--white .container__subtitle, .page--white .top-nav__my-name {
    color: #fff;
  }

  .page--cream {
    background-color: #494c45;
    color: #c0c5c5; #676a77
  }

  .page--cream .container__title, .page--cream .container__subtitle, .page--cream .top-nav__my-name {
    color: #f3f4f7;
  }

  .page--blue {
    background-color: #425165;
    color: #c4cdd8;
  }

  .page--blue .container__title, .page--blue .container__subtitle, .page--blue .top-nav__my-name {
    color: #eceff3;
  }

  .page--pink {
    background-color: #d4857a;
    color: #f9e5e2;
  }

  .page--pink .container__title, .page--pink .container__subtitle, .page--pink .top-nav__my-name {
    color: #fff8f7;
  }


}

*/
